<body>
  <div class="container">
    <div class="title">Criar nova Viagem:</div>
    <form id="new_travel" action="/travels" accept-charset="UTF-8" method="post">
      <% if @travel.errors.any? %>
        <div id="error_explanation">
          <h2>
            Ops! Tivemos <%= pluralize(@travel.errors.count, "erro") %>.
            Verifique os valores inseridos e tente novamente.
          </h2>
          <ul>
            <% @travel.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-10">
          <input id="travel_title" type="text" class="form-control" name="travel[name]" placeholder="Viagem de formatura!" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Qual o destino?</label>
        <div class="col-sm-10">
          <input id="travel_destination" type="text" class="form-control" name="travel[destination]" placeholder="Orlando" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Data de início</label>
        <div class="col-sm-10">
          <input id="travel_init_date" type="date" class="form-control" name="travel[init_date]" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Data de termino</label>
        <div class="col-sm-10">
          <input id="travel_final_date" type="date" class="form-control" name="travel[final_date]" required>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-sm-2 col-form-label">Descrição</label>
        <div class="col-sm-10">
          <input id="travel_description" type="text" class="form-control" name="travel[description]" placeholder="15 dias em Orlando e 5 em Nova York">
        </div>
      </div>
      <input type="submit" value="Criar viagem!" class="btn btn-primary">
    </form>
  </div>
</body>
<%# TODO: Enter to submit %>
<%# TODO: Dates should not be inconsistent %>
<%# TODO: When with errors, print in every input box a red border %>
