<body>
  <div class="container">
    <form class="needs-validation" id="new_travel" action="/travels" accept-charset="UTF-8" method="post" novalidate>
      <h1>Criar nova Viagem:</h1>

      <div class="form-group">
        <label>Nome da viagem</label>
        <input class="form-control" id="travel_title" type="text" name="travel[name]" placeholder="Viagem de formatura!" oninput="this.className = ''" required>
        <div class="valid-feedback">
      </div>
      <div class="form-group">
        <label>Qual o seu destino?</label>
        <input class="form-control" id="travel_destination" type="text" name="travel[destination]" placeholder="Orlando" oninput="this.className = ''" required>
        <div class="valid-feedback">
      </div>
      <div class="form-group">
        <label>Data de ínicio</label>
        <input class="form-control" id="travel_init_date" type="date" name="travel[init_date]" oninput="this.className = ''" required>
        <div class="valid-feedback">
      </div>
      <div class="form-group">
        <label>Data final</label>
        <input class="form-control" id="travel_final_date" type="date" name="travel[final_date]" oninput="this.className = ''" required>
        <div class="valid-feedback">
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <input id="travel_description" type="text" name="travel[description]" placeholder="Passando por Orlando e Nova York" oninput="this.className = ''">
      </div>

      <input type="submit" value="Criar" class="button-primary">
    </form>
  </div>
</body>
<%# TODO: Enter to submit %>
<%# TODO: Dates should not be inconsistent %>
<%# TODO: When with errors, print in every input box a red border %>
