<body>
  <div class="container">
    <div class="title">Perfil</div>

    <% if current_user %>
      <p>ID: <%= current_user.id %></p>
      <p><%= current_user.name %></p>
    <% else %>
      <p>Você não tem uma conta</p>
    <% end %>
</body>