<body>
  <div class="container-text">
    <h1>Perfil</h1>

    <% if current_user %>
      <p><%= current_user.id %></p>
      <p><%= current_user.name %></p>
    <% else %>
      <p>Você não tem uma conta</p>
    <% end %>
</body>