<body>
  <div class="container">
    <form id="new_event" action="<%= travel_day_events_path(@travel.id, @day.id) %>" accept-charset="UTF-8" method="post">
      <h1>Criar novo Evento:</h1>

      <h3>Dia <%= @day.date.strftime('%d/%m/%Y') %></h3>
      <p><label>Nome</label></p>
        <input id="event_title" type="text" name="event[name]" placeholder="Check-in">
      <p><label>Categoria</label></p>
        <input id="category" type="text" name="event[category]" placeholder="Estadia">
      <p><label>Endereço</label></p>
        <input id="event_address" type="text" name="event[address]" placeholder="Rua Maria da silva">

      <p><label>Horário de ínicio</label></p>
        <input id="event_starting_time" type="time" name="event[starting_time]">
      <p><label>Horário de término</label></p>
        <input id="event_ending_time" type="time" name="event[ending_time]">

      <p><label>Preço</label></p>
        <input id="event_pricing" type="text" name="event[pricing]" placeholder="1.000">
        <%#  TODO: Add price choice, dolar or reais %>
      <p><label>Descrição</label></p>
        <input id="event_description" type="text" name="event[description]" placeholder="Hotel em NY">

      <input type="submit" value="Criar">
    </form>
  </div>
</body>
