<body>
  <div class="container">

    <form id="new_event" action="<%= travel_day_events_path(@travel.id, @day.id) %>" accept-charset="UTF-8" method="post">
      <h1>Criar novo Evento:</h1>
      <%= render 'events/error_messages' %>

      <h3>Dia <%= @day.date.strftime('%d/%m/%Y') %></h3>
      <div class="form-group">
        <label>Nome</label>
        <input id="event_title" type="text" name="event[name]" placeholder="Check-in">
      </div>
      <div class="form-group">
        <label>Categoria</label>
        <input id="category" type="text" name="event[category]" placeholder="Estadia">
      </div>
      <div class="form-group">
        <label>Endereço</label>
        <input id="event_address" type="text" name="event[address]" placeholder="Rua Maria da silva">
      </div>
      <div class="form-group">
        <label>Horário de ínicio</label>
        <input id="event_starting_time" type="time" name="event[starting_time]">
      </div>
      <div class="form-group">
        <label>Horário de término</label>
        <input id="event_ending_time" type="time" name="event[ending_time]">
      </div>
      <div class="form-group">
        <label>Preço</label>
        <input id="event_pricing" type="text" name="event[pricing]" placeholder="1.000">
        <%#  TODO: Add price choice, dolar or reais %>
      </div>
      <div class="form-group">
        <label>Descrição</label>
        <input id="event_description" type="text" name="event[description]" placeholder="Hotel em NY">
      </div>
      <input type="submit" value="Criar" class="button-primary">
    </form>
  </div>
</body>
