@import 'bootstrap';

$color-red-primary: #d73a31;
$color-red-secondary: #bb001c;
// $color-green: #00FF00;
$color-blue-primary: #135589;
// $color-light-gray: rgb(211, 211, 211);
$color-light-gray-2: #f8f9fa;
$color-light-gray-3: rgba(0, 0, 0, 0.534);
$color-dark-gray: rgb(53, 53, 53);
$color-white: white;
// $color-blue-secondary: #0000FF;

ul {
	padding: 0;
}
body {
  background-color: $color-white;
  background-image: url("fog-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1; /* to reset the browser */
}

// Colors
.color-blue-primary {
  color: $color-blue-primary;
}

// Aplication
.container {
  background-color: $color-white;
  border-radius: 5px;
  align-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
.container-text {
  padding: 5%;
  display: flex;
  flex-direction: row;
}
.container-text-column {
  border-radius: 5px;
  background-color: $color-white;
  padding: 5%;
  margin: 5% 5%;
  margin-top: 5%;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}
.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.btn-primary {
  margin: 8px;
}
.title {
  text-align: center;
  font-size: 35px;
}
.span-width {
  min-width: 4px;
}

// Show calendar
.calendar {
  display: flex;
  padding: 5px;
  text-align: center;
  flex-wrap: wrap;
}
.days-card {
  margin: 8px;
  padding: 8px;
  border: 1px;
  border-color: #c0a0a5;
  border-style: dashed;
  flex: 10%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  flex-basis: 200px;
}
a.event-item {
  // flex: 1;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover {
    border: 1px;
    border-radius: 7px;
    background: #dbdbdb;
  }
}
.time-event-item {
  flex: 1;
  color: #686868
}
.name-event-item {
  flex: 10;
}
.no-events-card {
  flex: 10;
  display: flex;
  align-items: center;
  color: #686868;
}
.no-event-text {
  flex: 10;
}
.new-event-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

// navbar
.site-navbar .site-navigation .site-menu > li {
  display: inline-block;
}
.site-navigation {
  margin: auto;
}
.center-logo {
  margin: auto;
}
.site-navbar {
  background: white;
}
// .navbar-nav {
//   background-color: $color-white;
//   text-align: center;
// }

// Login
.login-link {
  padding: 10px;
  text-align: right;
  background: white;
}
