@import 'bootstrap';
@import 'navbar';
@import 'calendar';
@import 'sessions';

$color-red-primary: #d73a31;
$color-red-secondary: #bb001c;
// $color-green: #00FF00;
$color-blue-primary: #135589;
$color-blue-secondary: #0000FF;
$color-white: white;

// Colors
.color-blue-primary {
  color: $color-blue-primary;
}

// Aplication
ul {
	padding: 0;
}
body {
  background-color: $color-white;
  background-image: url("fog-trees.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  line-height: 1; /* to reset the browser */
}
.container {
  background-color: $color-white;
  border-radius: 5px;
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 20px;
}
.button-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.title {
  text-align: center;
  font-size: 35px;
}
.span-width {
  min-width: 4px;
}
