$color-light-gray: #686868;
$color-light-gray-2: #dbdbdb;
$color-light-gray-3: rgba(0, 0, 0, 0.125);
$color-dark-gray: #c0a0a5;

.calendar {
  display: flex;
  padding: 5px;
  text-align: center;
  flex-wrap: wrap;
}
.days-card {
  margin: 8px;
  padding: 8px;
  border: 1px;
  border: 1px solid $color-light-gray-3;
  word-wrap: break-word;
  border-radius: 4px;
  flex: 10%;
  display: flex;
  flex-direction: column;
  min-height: 150px;
  flex-basis: 200px;
}
a.event-item {
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
  color: black;
  text-decoration: none;
  display: flex;
  align-items: center;
  &:hover {
    border: 1px;
    border-radius: 7px;
    background: $color-light-gray-2;
  }
}
.time-event-item {
  flex: 1;
  color: $color-light-gray
}
.name-event-item {
  flex: 10;
}
.no-events-card {
  flex: 10;
  display: flex;
  align-items: center;
  color: $color-light-gray;
}
.no-event-text {
  flex: 10;
}
.new-event-link {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}